@import "../assets/Styles/fonts.css";

:root {
  --primary: #f81e74;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all ease-in-out 0.1s;
}
body {
  font-family: "Yekan Bakh" !important;
  font-size: 62.5%;
  position: relative;
  background-color: #f9f9f9;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  direction: rtl;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button {
  cursor: pointer;
  outline: none;
  border: none;
}
button:focus {
  outline: none !important;
  border: none;
}
.wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  height: fit-content;
  width: 100%;
  z-index: -1;
}
.backdrop img {
  width: 100%;
  position: absolute;
  background-color: #ffced2;
}
.logo {
  width: 17rem;
  padding: 4rem 0;
  margin: auto;
}
h1.title {
  font-size: 3rem;
  line-height: 4.3rem;
  margin-bottom: 36px;
}
.main-box {
  width: 80%;
  min-height: 40rem;
  background-color: #fff;
  border-radius: 3.5rem;
  box-shadow: 0 4px 32px 0 #00000012;
  padding: 3.75rem 4rem;
}
.form-des {
  line-height: 3.1rem;
}
.report-button-container {
  background-color: #f2f2f2;
  border-radius: 2rem;
  width: 31rem;
  height: 5.5rem;
  direction: ltr;
}
.divide-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.divide-box .active {
  background-color: #fff;
  border-radius: 2rem;
  box-shadow: 0px 4px 16px #0000000f;
  color: var(--primary);
}
.divide-box > label {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.hidden {
  display: none;
}

.footer {
  width: 100%;
  background-size: 200px;
  position: relative;
}
.footer::before {
  position: absolute;
  bottom: 0;
  right: 0;
  content: "";
  width: 100%;
  height: 28rem;
  background: #ffced2;
  z-index: -1;
}
.report-type {
  width: calc((100% - 2rem) / 2);
  min-height: 27rem;
  border-radius: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 4rem;
  border: 1px solid #cbcbcb;
  box-shadow: 0px 0px 0px 8px #f2f2f2;
  gap: 2rem;
}
.report-type-checked {
  box-shadow: 0px 0px 0px 8px #f81e7414;
  border: 1px solid var(--primary);
}
.report-type label {
  cursor: pointer;
  font-weight: 700;
}

.report-type input[type="radio"],
input[type="checkbox"] {
  color: var(--primary);
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.report-input {
  visibility: hidden;
}
.report-type-header label,
.date-radios label {
  display: flex;
  align-items: center;
}
.date-radios label {
  font-weight: 400;
  font-size: 1.25rem;
  color: #5e5e5e;
}
.radio-circle {
  position: relative;
  width: 2rem;
  height: 2rem;
  border: 1px solid #2f2f2f;
  margin-left: 0.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.radio-checked {
  border: 0.2rem solid var(--primary);
}
.radio-checked::before {
  position: absolute;
  content: "";
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--primary);
  cursor: pointer;
}
.report-type-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.report-type-body .title,
.more-inf-sales .title,
.paymentWay-container .title {
  font-size: 1.25rem;
  text-align: center;
}
.report-type-body .date-radios {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 2.5rem;
}
.report-type-body .date-radios .radio-circle {
  width: 1.5rem;
  height: 1.5rem;
}
.date-checked::after {
  content: "\e903";
  font-family: "iconly" !important;
  color: #fff;
  position: absolute;
  font-size: 10px;
}
.divide-line {
  width: 100%;
  border-top: 1px solid #e6e6e6;
}
.notice-box {
  width: 569px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  background-color: #ebf7ff;
  color: #168fdf;
  border-radius: 1rem;
  font-size: 1.25rem;
  line-height: 41.9px;
  font-weight: 400;
  margin: 0.5rem 0;
}
.more-inf-sales,
.paymentWay-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 12rem;
}
.more-inf-sales {
  display: none;
}
.info-boxes {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.info-box,
.locked-box {
  height: 4.5rem;
  border-radius: 1.5rem;
  padding: 0 1.5rem;
  border: 1px solid #cbcbcb;
  box-sizing: border-box;
  box-shadow: 0px 0px 0px 4px #f7f7f7;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: #2f2f2f;
}
.info-box label,
.locked-box {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  width: 100%;
}
.info-box {
  width: calc((100% - 2rem) / 2);
}
.locked-box-container,
.button-box {
  width: calc((100% - 4rem) / 3);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.locked-box {
  width: 100%;
  cursor: not-allowed;
}
.checkBox {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border: 1px solid #2f2f2f;
  box-sizing: border-box;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkBox.date-checked::after {
  font-size: 13px;
}
.info-box-checked {
  border: 1px solid #f81e74;
  box-sizing: border-box;
  box-shadow: 0px 0px 0px 4px #feedf4;
}

.date-checked {
  background-color: var(--primary);
  border-color: transparent;
}
.disable {
  opacity: 0.5;
  box-shadow: none;
}
.soon-notice {
  font-size: 1.25rem;
  color: #168fdf;
}

.button-box button {
  width: 100%;
  height: 4.5rem;
  border-radius: 9999px;
  background-color: var(--primary);
  font-weight: 700;
  font-size: 1.5rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.button-box .disable {
  opacity: 0.3;
  font-weight: normal;
}
.output-progress {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
  color: var(--primary);
  line-height: 41.9px;
}
.date-input-box {
  width: 100%;
  height: 4.5rem;
  border-radius: 1.5rem;
  border: 1px solid #cbcbcb;
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
  font-size: 1.25rem;
  color: #5e5e5e;
}
.date-input-box input {
  height: 100%;
  border: none;
  outline: none;
}
.date-input-box label {
  height: 100%;
  display: flex;
  align-items: center;
}
.date-input-box span,
.notice-box span,
.button-box span {
  font-size: 2rem;
}
.time-span {
  background-color: #f81e7414 !important;
}
.toSelected span,
.fromSelected span {
  color: #fff !important;
  border: none;
  background: radial-gradient(
    82.86% 82.86% at 28.57% 17.14%,
    #ff71a9 0%,
    #f81e74 100%
  );
  box-shadow: 1px 8px 11px -1px rgb(248 30 116 / 47%);
  border-radius: 0;
}
.fromSelected,
.fromSelected span {
  border-top-right-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.toSelected,
.toSelected span {
  border-top-left-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.form-control:focus {
  box-shadow: none;
  border: 2px solid var(--primary) !important;
  box-shadow: none !important;
}

.validate {
  border-radius: 20px;
  height: 40px;
  background-color: red;
  border: 1px solid red;
  width: 140px;
}
.form-control {
  width: 100%;
  height: 100%;
  border-radius: 1.5rem !important;
  border: 1px solid #cbcbcb !important;
  position: relative;
  font-size: 1.5rem;
  font-weight: 700;
}
.input-line {
  position: absolute;
  bottom: 1rem;
  width: 2.625rem;
  height: 1px;
  background-color: #cbcbcb;
}
.form-group {
  position: relative;
  display: flex;
  justify-content: center;
  width: 18%;
  max-width: 4.5rem;
  height: 4.5rem;
}
.num-input-box {
  max-width: 26.5rem;
  width: 100%;
}
.numinput-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.report-number-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.report-number-container .text {
  font-size: 1.25rem;
  color: #5e5e5e;
}
.naminput-error {
  font-size: 1rem;
  color: #dd0028;
  font-weight: 700;
  margin-top: 1.25rem;
  display: flex;
  align-items: center;
}
.naminput-error span {
  font-size: 1.5rem;
  margin-left: 0.75rem;
}
button.rendering {
  background-image: linear-gradient(
    90deg,
    transparent,
    transparent 3rem,
    #d81b65 1rem,
    #d81b65 1.7rem
  );
  transition: all linear 0.3s;
  background-size: 120%;
  background-position-x: -4rem;
  background-repeat: no-repeat;
}
.dot-flashing::before,
.dot-flashing::after,
.dot-flashing {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.dot-flashing {
  position: relative;
  animation: dotFlashing 1s infinite linear alternate;
  animation-delay: 0.5s;
  margin-right: 1rem;
}

.dot-flashing::before,
.dot-flashing::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  animation: dotFlashing 1s infinite alternate;
}

.dot-flashing::before {
  left: -12px;
  animation-delay: 0s;
}

.dot-flashing::after {
  left: 12px;
  animation-delay: 1s;
}

@keyframes dotFlashing {
  0% {
    background-color: #ffffff;
  }
  100% {
    background-color: #ffffff80;
  }
}

@media screen and (max-width: 1710px) {
  .more-inf-sales,
  .paymentWay-container {
    padding: 0 10rem;
  }
  .info-box,
  .locked-box {
    font-size: 1.25rem;
  }
  .report-type-body .date-radios {
    /* justify-content: space-between; */
    gap: 0.5rem;
    flex-wrap: wrap;
  }
  .report-number-container {
    flex-wrap: wrap;
  }
  .report-type {
    padding: 2rem 5%;
  }
}
@media screen and (max-width: 1200px) {
  .report-type-container {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }
  .report-type {
    width: 80%;
  }
  .info-boxes,
  .locked-box-container {
    flex-direction: column;
    gap: 2rem;
  }
  .info-box,
  .locked-box,
  .locked-box-container {
    width: 100%;
    gap: 0.5rem;
  }
  .button-box button {
    font-size: 1rem;
  }
  .more-inf-sales,
  .paymentWay-container {
    padding: 0 2rem;
    margin: 0 !important;
  }
}
@media screen and (max-width: 992px) {
  .main-box {
    padding: 2rem;
  }
  .logo {
    padding: 1rem 0;
  }
  .report-type,
  .report-button-container,
  .notice-box,
  .button-box {
    width: 100%;
  }
  h1.title {
    font-size: 1.75rem;
    line-height: unset;
    text-align: center;
  }
  .submit-btns-container {
    flex-direction: column;
    margin-top: 0;
    gap: 0.5rem;
  }
}
@media screen and (max-width: 567px) {
  .more-inf-sales,
  .paymentWay-container {
    padding: 0;
  }
  .main-box {
    padding: 1rem;
    width: 90%;
    border-radius: 30px;
  }
  * {
    line-height: unset !important;
  }
  .report-button-container,
  .form-des {
    font-size: 1rem !important;
    margin-bottom: 0 !important;
  }
  .date-radios label,
  .notice-box {
    font-size: 0.785rem;
  }
  .date-input-box input {
    max-width: 90%;
  }
  .datepicker-plot-area {
    min-width: 90%;
  }
}
